<%- include("./Layout/Header") %>

<form method="POST" action="/feed">
    <button type="submit" class="btn btn-outline-success">Add a post</button><br>
    <div class="mb-3">
      <br>
      <label class="form-label">Name: </label>
      <input name="name" type="text" class="form-control">
      <% if(error && error.name ){ %> 
        <h4 style="color: red;"><%= error.name.properties.message %> </h4>
      <% } %>
    </div>
    <div class="mb-3">
      <label class="form-label">Message: </label>
      <textarea name="message" type="text" class="form-control"></textarea>
      <% if(error && error.message){ %> 
        <h4 style="color: red;"><%= error.message.properties.message %> </h4>
      <% } %>
    </div>
</form>

<% results.forEach(result => { %>     
  <div class="card" style="width: 18rem; margin: 40px;">
      <div class="card-body">
          <h5 class="card-title"><%= result.name %> </h5>
          <p class="card-subtitle mb-2 text-muted"><%= result.message %></p><br>
          <h8 class="card-subtitle mb-2 text-muted">createdAt: <%= result.createdAt %></h8>
      </div>
      <a id="seeMore" href="/feed/<%= result.id %>">See More</a><br>
    </div>
<% }) %>




<%- include("./Layout/Footer") %>